<h1>Welcome to your first 'real' project.</h1>

<p>The first thing we will add is the project directory <%= @directory.root %>.</p>

<p>The contents of <%= @directory.root %> are:
<ul>
  <% def print_dir(dir) %>
  <li><%= dir[:name] %>
    <% if dir.has_key?(:contains) %>
    <ul>
      <% dir[:contains].each do |file| %>
      <% print_dir(file) %>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  <%= print_dir(@directory.root_contents) %>
</ul>
</p>
